# ===== SECRETS =====
**/application-local.yml
**/application-local.yaml
**/application-prod.yml
**/application-prod.yaml
**/.env
**/.env.local
**/.env.production

# ===== BACKEND =====
resq_backend/target/
resq_backend/HELP.md
resq_backend/.apt_generated
resq_backend/.classpath
resq_backend/.factorypath
resq_backend/.project
resq_backend/.settings
resq_backend/.springBeans
resq_backend/.sts4-cache
resq_backend/build/
!resq_backend/**/src/main/**/target/
!resq_backend/**/src/test/**/target/
!resq_backend/**/src/main/**/build/
!resq_backend/**/src/test/**/build/

# ===== FRONTEND =====
resq_frontend/node_modules/
resq_frontend/dist/
resq_frontend/dist-ssr/
resq_frontend/*.local
resq_frontend/logs/
resq_frontend/*.log

# ===== INTELLIJ =====
.idea/
*.iws
*.iml
*.ipr
.vscode/
!.vscode/extensions.json

# ===== OS =====
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?